*{
    padding: 0%;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}

/*----------------------------- global-style--------------------------------- */
a{
    text-decoration: none;
    
}
.tomato{
    color: tomato;
    
}
hr{
    width: 70%;
    margin-left:auto;
	margin-right:auto;
    border: 2px solid tomato;
    margin-top: 5%;
    background-color: tomato;
    border-radius: 5px;
   
}


/* ---------------------------- Nav-section --------------------------------- */
.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-brand{
    margin-left: 50px;
}
.nav-brand a{
    font-size: 35px;
    color: black;
   
}
.nav-brand a:hover{
    font-size: 35px;
    color: tomato;
    transition: 0.5s ease-in-out;
   
}
.nav-item{
    margin-top: 12px;

}
.nav-item a{
    font-size: 20px;
    color: gray;
    margin-left: 20px;
}
.nav-item a:hover{
    color: tomato;
    transition: 0.5s ease-in-out;
}
.icon-item{
    margin-right: 50px;
}
.fab{
    font-size: 20px;
    color: black;
    margin-top: 12px;
    margin-left: 10px;
}
.fa-facebook-f:hover{
    color:#3f729b;
    transition: 0.5s ease-in-out;
}
.fa-instagram:hover{
    color: #D94C4C;
    transition: 0.5s ease-in-out;
}
.fa-twitter:hover{
    color:#3f729b;
    transition: 0.5s ease-in-out;
}
.fa-youtube:hover{
    color: red;
    transition: 0.5s ease-in-out;
}
/* ---------------------------- Nav-section --------------------------------- */

/* ---------------------------- header-section --------------------------------- */
#header{
    background: url(/images/camera.png);
    text-align: center;
    margin-top: 20px;
    height: 600px;

}

.header-text{
    padding-top: 200px;
    color:tomato;
}
.header-text h1{
    font-size: 60px;
}
.header-text h3{
    font-size: 30px;
}
.website-button{
    font-size: 20px;
    margin-top: 50px;
    color: tomato;
    border: none;
    background: transparent;
}
.website-button a{

    color: white; 
    border: 5px solid white;
    padding: 15px 45px;
    background-color:tomato;
    font-size: 25px;
   
}

.website-button a:hover{

    color: tomato; 
    border-radius: 30px;
    border: 2px solid tomato;
    padding: 15px 45px;
    border: 5px solid tomato;
    background: transparent;
    transition: 0.5s;
    font-size: 30px;
}
/* ---------------------------- header-section --------------------------------- */

/* ---------------------------- main-section --------------------------------- */
#main-section{
    background:url(/images/Abract01.png);
    height: 560px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5%;
}
#main-section h1{
    font-size: 40px;
    text-align: center;
}

/* ---------------------------- main-section --------------------------------- */


/* ---------------------------- card-section --------------------------------- */

.card-section{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
   
}
.card-item{
    padding-bottom: 40px;
    box-shadow: 5px 10px 30px -10px grey;
    width: 23%;
    border-radius: 10px;
    
}
.card-item img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
} 
.card-text{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
.card-button{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    

}

.card-button a:hover{
    border: 2px solid tomato;
    padding: 10px 25px;
    background-color:transparent;
    transition: 0.5s ease-in-out ;
    font-size: 20px;
    color: tomato;
    border-radius: 20px;
}
.card-button a{
    color: white; 
    padding: 10px 25px;
    background-color:tomato;
    font-size: 15px;
    border-radius: 5px;
    
}
small{
    display: block;
    margin-top: 10px;
    
}
/* ---------------------------- card-section --------------------------------- */


/* ---------------------------- blog-section--1 --------------------------------- */
#blog-section{
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
}
.blog-button{
   
    margin-left: -25px;
}
.full-section{
    display: grid;
    grid-template-columns: 70% 30%;
}

.space p{
    width: 45%;
    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding: 5px 40px;
    border-radius: 20px;
    margin-top: 10px; 

}

.right-side h1,p{
    width: 70%;
    text-align: justify;
}
.right-side p{
    margin-top: 10px;
}
.space-0{
    word-spacing: 90px;   
}
.space-1{
    word-spacing: 78px;   
}
.space-2{
    word-spacing: 93px;   
}
.space-3{
    word-spacing: 115px;  
}
.space-4{
    word-spacing: 110px;   
}
.space-5 {
    word-spacing: 63px;   
}
.slidebar h2{
    margin-bottom: 10px;
    margin-left: -100px;    
}
.another-aside {
    margin-top: -40px;
}
.another-aside h2{
    margin-top:150px;
    margin-left: -100px;

}
.another-aside img{
    width: 90%;
    margin-left: -40px;

} 
.another-aside h4{
    margin-left: -40px;
    width: 90%; 
}
.lebel{
    display: flex;
}
.indent{
    text-indent:20px;
}
.lebel{
    width: 31%;
    padding-bottom: 11px;
    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding-left: 30px;
    border-radius: 20px;
    position: relative;
    left: 200px;
    top: -25px;
}
.popular-lebel{
    width: 60%;
    position: relative;
    left: 5px;
    top: -25px;   
}

/* ---------------------------- blog-section--1 --------------------------------- */


/* ---------------------------- blog-section--2--------------------------------- */

.another-blog h2{
    margin-bottom: 50px;  
}
.another-part{
    margin-top: 100px;
}
/* ---------------------------- blog-section--2--------------------------------- */

/* ---------------------------- blog-section--3 --------------------------------- */

             /* FULLY-SAME-AS-BLOG-SECTION-2 */

/* ---------------------------- blog-section--3--------------------------------- */



/* ---------------------------- blog-section--4--------------------------------- */
.email-feild{
    position: relative;
    border: none;
    background: none;
    outline: none;
    border: 3px solid tomato;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 50px;
    
}
input{
    padding: 15px 129px;
    
}
.email-feild:hover{
    letter-spacing: 2px;
    font-weight: bolder;
    transition: 1s;
    text-transform: uppercase;
    
}
.email-button{
    width: 100%;
    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding: 15px 10px;
    margin-top: 10px; 
    border: none;
    margin-top: 20px;
    
}
.email-button a{
   color: white;
   font-size: 15px;
}
.email-button :hover{
    
    letter-spacing: 20px;
    font-weight: bolder;
    transition: 1s;
    text-transform: uppercase;   
 }
 .poplar-section{
     margin-top: 30%;
 }
 .popular-post{
     display: flex;
   
 }
 .popular-post-2{
    display: flex;
  
}
 .popular-area{

    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding-left: 30px;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 7px;
 }
 .popular-area-2{

    background-image: linear-gradient(to right,tomato, rgb(236, 153, 141));
    padding-left: 30px;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 30px;
    margin-left: 7px;
 }

/* ---------------------------- blog-section--4--------------------------------- */



/* ------------------------------ footer-------------------------------------- */
footer{
    display: flex;
    height: 500px;
    background-color: black;
    margin-top: 5%;
    color: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-email{
    padding: 10px 40px;
    margin-top: 20px;

}
.fa-location-arrow{
    font-size: 70px;
    color: tomato;
    position: relative;
    right: 28px;
    top: -10px;
}
.insta-part{
    margin-top: 25%;
}
.insta-part h1{
    font-size: 35px;
}
.insta-part-img{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 75%;
    grid-gap:15px;
    margin-top: 20px;
    

}
.insta-part img{
   width:100%; 
   border: 2px solid tomato;  
}
.about-us{
    margin-top: 25%;
    margin-left: 80px;
    
}
.about-us h1{  
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 40px;
}
.about-us P{  
    font-size: 15px;
   
}
.newsteller-part{
    margin-top: 25%;
}
.newsteller-part h1{
    font-size: 35px;
    margin-bottom: 40px;
}
.newsteller-part p{
    letter-spacing: 1px;

}
.footer-icon{
    color: white;
    margin-top: 40px;
    font-size: 30px;
}
.follow-us-section{
    margin-top: 25%;
}
.follow-us-section h1{
    font-size: 35px;
}
.follow-us-section p{
    margin-top: 30px;
    letter-spacing: 10px;
}
strong{
    letter-spacing: 10px;
}
.footer-tag p{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 20px;

}



/* ------------------------------ footer-------------------------------------- */